<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('relators.name') %></th>
    <th><%= t('relators.role') %></th>
  </tr>
  </thead>
  <tbody>
  <% object.relators.each do |relator| %>
      <tr>
        <td>
          <strong><%= relator.agent._name %></strong>
        </td>
        <td>
          <span><%= relator.role %></span>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>